# Node.js
.npmrc
node_modules/
npm-debug.log

# Coverage
.nyc_output/
coverage/

# CI
output/
temp/

# Vi
*.swp
*~

# MacOS
.DS_Store

# Misc
*.stat
*.log

# VSCode
.vscode/settings.json

# IDEA
.idea

# dotenv files contain secrets, don't check them into git
.env
.env.*
